@import url('https://fonts.googleapis.com/css?family=Raleway:700');

.App {
  width: 100vw;
}

.frame {
      display: block;
      object-fit: contain;
      width: 80vw;
      height: 80vh;
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      right: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%)
}

img {
  display: block;
  width: 100%;
}

h2.user {
  font-family: 'Raleway', sans-serif;
  bottom: 10px;
  position: absolute;
  right: 10px;
}
